{% extends 'base.html.twig' %}

{% block body %}
    {{ include('::header.html.twig') }}

    <main class="container">
        <h3>Je réponds</h3>

        <div class="row">
            <div class="col s12 m6 offset-m3">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Valider" class="btn right" />
                {{ form_end(edit_form) }}

                <a href="{{ path('homepage') }}" class="btn">Annuler</a>
            </div>
        </div>
    </main>

{% endblock %}
