{% extends 'base.html.twig' %}

{% block body %}

    <main class="container">
        <h1>Polls list</h1>
        {% for answer in answers %}
            <h2>{{ answer.question }}</h2>
            <article class="row">
                {#<a class="right btn" href="{{ path('_admin_poll_new') }}">#}
                {#Create a new poll#}
                {#</a>#}

                <table class="col s12 m8 l6 offset-m2 offset-l3">
                    <thead>
                    <tr>
                        <th>Person</th>
                        <th>Share</th>
                        <th>Answer</th>
                        {#<th>Actions</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for poll in answer.polls %}
                        <tr>
                            <td>{{ poll.person }}</td>
                            <td>{{ poll.person.share }}</td>
                            <td>{{ poll.answer }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col s12">
                    <h4>Waiting</h4>
                    <div>
                        {% for waiting in answer.waitings %}
                            {{ waiting }}{% if loop.index < loop.length %},{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </article>
        {% endfor %}
    </main>
{% endblock %}
