{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col s6">
        <div class="fos_user_user_show">
            <p>
                {{ 'profile.show.username'|trans }}: {{ user.username }}
                <a href="{{ url('fos_user_profile_edit', {'id' : app.user.id }) }}" class="right">
                    <i class="material-icons">edit</i>
                </a>
            </p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
    </div>
    <div class="col s6">
        <div>
            Qui suis-je: {{ app.user.person }}
            <a href="{{ url('user_person_edit', {'id' : app.user.id }) }}" class="right">
                <i class="material-icons">edit</i>
            </a>
        </div>
        <div>
            Mes parts: {{ app.user.person.share }}
        </div>
    </div>
</div>

<div>
    <a href="{{ path('homepage') }}" class="btn">Retour</a>
</div>
