{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <a href="{{ path('person_new') }}" class="btn right btn-floating btn-small">
                    <i class="large material-icons">add</i>
                </a>
                <h1>People list</h1>

                <div class="row">
                    {#<td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>#}
                    <div class="col s5">&nbsp;</div>
                    <div class="col s6">
                        <div class="col s6 text-center">Actions</div>
                        <div class="col s6 text-center">Obligations</div>
                    </div>
                    <div class="col s1">&nbsp;</div>
                </div>

                {% for person in people %}
                    <div class="row box">
                        {#<td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>#}
                        <div class="col s5">
                        {{ person.firstname }} {{ person.lastname }}
                        </div>
                        <div class="col s6">
                            <div class="col s6 figures">{{ person.action }}</div>
                            <div class="col s6 figures">{{ person.obligation }}</div>
                        </div>
                        <div class="col s1">
                            <a href="{{ path('person_edit', { 'id': person.id }) }}" class="right">edit</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
