{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <!-- Dropdown Trigger -->
        <a id="admin-menu" class="dropdown-button btn left" href='#' data-activates='dropdown1'>
            <i class="material-icons">dehaze</i>
        </a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            {#<li class="divider"></li>#}
            <li>
                <a href="{{ path('person_index') }}">
                    <i class="material-icons">accessibility</i>Personnes
                </a>
            </li>
            <li>
                <a href="{{ path('_admin_poll_index') }}">
                    <i class="material-icons">record_voice_over</i>R&eacute;sultats
                </a>
            </li>
        </ul>

        <h1 class="secondary-color">Administration</h1>
        <div class="row">
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12">
                        <a href="{{ path('admin_news_new') }}" class="btn right btn-floating btn-small">
                            <i class="large material-icons">add</i>
                        </a>
                        <span class="title">Les mots du Pr&eacute;sident</span>
                    </div>
                </div>
                {% for news in news %}
                    <div class="row">
                        <div class="col s12">
                            <input type="checkbox" id="pub_{{ news.id }}" {% if news.published %}checked="checked" {% endif %} />
                            <label for="pub_{{ news.id }}">
                                {% if news.publication %}{{ news.publication|date('d-m-Y') }}{% endif %}
                            </label>

                            <a href="{{ path('admin_news_edit', { 'id': news.id }) }}" class="secondary-color right">
                                <i class=" material-icons">edit</i>
                            </a>
                        </div>
                        <article class="col s12">
                                {{ news.value | raw }}
                        </article>
                    </div>
                {% endfor %}
            </div>
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12">
                        <a href="{{ path('question_new') }}" class="btn right btn-floating btn-small">
                            <i class="large material-icons">add</i>
                        </a>
                        <span class="title">Consultations</span>
                    </div>
                </div>
                {% for dto in dtos %}
                    <div class="row poll-item">
                        <div class="question-title-sum">
                            <a href="{{ path('question_edit', { 'id': dto.id }) }}" class="link">
                                {{ dto.question }}
                                <span class="right small-icon">
                                    <i class="large material-icons">edit</i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <article>
                        <div>
                            <a href="{{ path('answer_new', { 'id' : dto.id }) }}" class=" secondary-color">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        {% for a in dto.answers %}
                            <div class="clearfix">
                                {{ a.label }}
                                <a href="{{ path('answer_edit', {'id' : a.id }) }}" class="right clearfix small-icon">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>
                        {% endfor %}
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
