<header>
    <h1>
        <a href="{{ path('homepage') }}">
            Guiliman
        </a>
    </h1>

    <nav class="container">
    {% if app.user.username is defined %}
        <div class="left">
            <div id="home">
                <a href="{{ path('homepage') }}" class="left home-link">
                    <i class="material-icons">home</i>
                </a>
            </div>
            Bonjour {{ app.user.person }}
        </div>

        <ul class="right">
            <li>
                <a href="{{ path('fos_user_profile_show') }}">
                    Mon compte
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    Déconnexion
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('admin_default_index') }}" class="btn btn-red">Gestion</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
    </nav>
</header>
