{% extends 'base.html.twig' %}

{% block body %}
    {{ include('::header.html.twig') }}

    <div class="container">
        <h2>
            Sondage
        </h2>
        {% for dto in dtos %}
            <div class="row poll-item">
                <div class="col s12 question-title">
                    {{ dto.question.label }}
                    <a href="{{ path('poll_person_answer', { 'id' : dto.question.id }) }}" class="btn btn-small right">
                        répondre
                    </a>
                </div>
                <div class="col s12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            {% for label, values in dto.percents | first %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        {% for title, stats in dto.percents %}
                            <tr>
                                <td>{{ title }}</td>

                                {% for label, values in stats %}
                                    <td class="figures">{{ values }} %</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

