{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12 m6 l8">
                <h2>Message du Pr&eacute;sident</h2>
                {% for n in news %}
                    <article>
                        <div class="article-title">{{ n.publication | date('d/m/Y') }}</div>
                        <div>{{ n.value | raw }}</div>
                    </article>
                {% endfor %}
            </div>
            <div class="col s12 m6 l4">
                <h2>Consultations</h2>
                {% for dto in dtos %}
                    <div class="row poll-item">
                        <div class="question-title-sum">
                            <a href="{{ path('poll_index') }}#poll_{{ dto.question.id }}" class="link">
                                {{ dto.question.label }}
                                <span class="right"> > </span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}

