{% extends 'base.html.twig' %}

{% block body %}
    {{ include('::header.html.twig') }}

    <main class="container">
        <h3>Je réponds</h3>

        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="question-title-sum">{{ poll.question.label }}</div>
                {{ form_start(edit_form) }}

                <div>
                    {{ form_label(edit_form.person, 'Je suis') }}
                    {{ form_widget(edit_form.person) }}
                </div>
                <div>
                    {{ form_label(edit_form.question, 'Je reponds a') }}
                    {{ form_widget(edit_form.question) }}
                </div>
                <div>
                    {{ form_label(edit_form.answer, 'Ma réponse') }}
                    {{ form_widget(edit_form.answer) }}
                </div>

                {{ form_widget(edit_form) }}
                <input type="submit" value="Valider" class="btn right" />
                {{ form_end(edit_form) }}

                <a href="{{ path('homepage') }}" class="btn">Annuler</a>
            </div>
        </div>
    </main>

{% endblock %}
