{% extends 'base.html.twig' %}

{% block body %}
    <h1>Polls list</h1>

    <table>
        <thead>
            <tr>
                <th>Person</th>
                <th>Share</th>
                <th>Answer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poll in polls %}
            <tr>
                <td>{{ poll.person }}</td>
                <td>{{ poll.person.share }}</td>
                <td>{{ poll.answer }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('poll_show', { 'id': poll.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('poll_edit', { 'id': poll.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('poll_new') }}">Create a new poll</a>
        </li>
    </ul>
{% endblock %}
