{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <table>
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ answer.id }}</td>
                    </tr>
                    <tr>
                        <th>Label</th>
                        <td>{{ answer.label }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('answer_index') }}">Back to the list</a>
                    </li>
                    <li>
                        <a href="{{ path('answer_edit', { 'id': answer.id }) }}">Edit</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <h1>Answer</h1>
{% endblock %}
